In [4]:
import re
import phonenumbers
import datefinder
import pandas as pd

In [13]:
# df = pd.read_csv('/home/iftekhar/docomodezwhu/data/merged_corpus.csv')
df = pd.read_csv('/home/iftekhar/Downloads/merged_corpus.csv')

In [14]:
df.head()

,page,title,text,key_phrase
0,0,dマーケット｜もっと、みつかる、たのしめる。｜NTTドコモ公式,トップ サービスを探す ジャンルから探す もっと見る あそんでためる ? × 簡単なゲーム...,毎日 ポイント
1,1,ファッション・美容｜dマーケット,ファッション 検索 もしかして 検索するキーワードを入力してください。 閉じる の検索結果...,ファッション 検索
2,2,スポーツ｜dマーケット,スポーツ 検索 もしかして 検索するキーワードを入力してください。 閉じる の検索結果 ス...,スポーツ 検索
3,3,マイページ - dポイント確認｜dマーケット,マイページ - dポイント確認 dアカウントの発行、もしくはログインが必要です。 dマーケ...,ログイン
4,4,キッズ｜dマーケット,キッズ 検索 もしかして 検索するキーワードを入力してください。 閉じる の検索結果 キッ...,キッズ 検索

In [28]:
df['email'] = df.text.apply(lambda x: re.findall(r'[\w\.-]+@[\w\.-]+', x))
df['age_nen'] = df.text.apply(lambda x: re.findall(r'\d+年', x))
df['age_sai'] = df.text.apply(lambda x: re.findall(r'\d+歳', x))
df['price'] = df.text.apply(lambda x: re.findall(r'\d+万|\d+円', x))
df['phone'] = df.text.apply(lambda x: [re.sub(r'（','', match.raw_string).strip('(') for match in phonenumbers.PhoneNumberMatcher(x, 'JP')]) 
df['date'] = df.text.apply(lambda x: re.findall(r'\d{2,4}\/\d{2}\/\d{2,4}', x))

In [22]:
p = '（042-679-7228'

In [25]:
re.sub(r'（','', p)

'042-679-7228'

In [30]:
[x for x in df.email.values if x]

[['名前の下にある@以降の'],
 ['名前の下にある@以降の'],
 ['soukin_info@mail1.apl.spmode.ne.jp',
  'soukin_info@docomosoukin.com',
  'soukin@docomo-bill.ne.jp'],
 ['soukin_info@mail1.apl.spmode.ne.jp',
  'soukin_info@docomosoukin.com',
  'soukin@docomo-bill.ne.jp',
  'info@sw.job.dmkt-sp.jp'],
 ['message_r@mail2.apl01.spmode.ne.jp']]

In [17]:
[x for x in df.age_sai.values if x]

[['15歳', '16歳', '19歳'],
 ['20歳', '20歳'],
 ['3歳', '10歳', '6歳'],
 ['20歳'],
 ['20歳'],
 ['3歳', '10歳', '4歳', '6歳'],
 ['15歳', '20歳', '15歳', '20歳', '15歳'],
 ['12歳', '6歳', '3歳', '12歳'],
 ['4歳', '5歳'],
 ['3歳'],
 ['18歳', '18歳', '20歳'],
 ['18歳', '18歳', '20歳']]

In [ ]:
[x for x in df.email.values if x]

In [181]:
import datefinder
string_with_dates = """
                    entries are due by January 4th, 2017 at 8:00pm
                    created 01/15/2005 by ACME Inc. and associates.
                    """
matches = list(datefinder.find_dates(string_with_dates))
i = []
for match in matches:
    print(match)

2017-01-04 20:00:00
2005-01-15 00:00:00

In [185]:
[match for match in matches]

[datetime.datetime(2017, 1, 4, 20, 0), datetime.datetime(2005, 1, 15, 0, 0)]

In [176]:
re.findall(r'\d{2,4}\/\d{2}\/\d{2,4}', string_with_dates)

['01/15/2005']

In [89]:
df['date'] = df.text.apply(lambda x: re.findall(pattern_date, x))

In [ ]:
[x for x in df.date.values if x]

In [ ]:
# This will be some random text that we don't want to match!
# 1/2/03
# don't want any false/positives a1/2/03

# 2/3/04

In [32]:
string = '03-3288-9621 05-3288-9621 0332889621 +81-090-1234-5678 09012345678 1234567890 (+81)-123-456-7890 12-3456-7890 123-4567-8901'

In [150]:
x = []
for match in phonenumbers.PhoneNumberMatcher(string, 'JP'):
    print(match.raw_string)

03-3288-9621
05-3288-9621
0332889621
+81-090-1234-5678
09012345678

In [149]:
x[0]

PhoneNumberMatch(start=0, raw_string='03-3288-9621', numobj=PhoneNumber(country_code=81, national_number=332889621, extension=None, italian_leading_zero=None, number_of_leading_zeros=None, country_code_source=0, preferred_domestic_carrier_code=None))

In [139]:
z=re.findall("(\+?\d{2,3}?\-?\d{3,4}\-?\d{3,4}\-?\d{4})", string)
z

['+81-090-1234-5678']

In [ ]:
[x for x in df.phone.values if x]

In [33]:
z=re.findall("([\+\d{2}]+\-?\d{2,3}\-?\d{3,4}\-?\d{4})", string)
z

['0332889621',
 '+81-090-1234-5678',
 '09012345678',
 '1234567890',
 '123-456-7890',
 '123-4567-8901']

In [36]:
df['phone'] = df.text.apply(lambda x: re.findall("([\+\d{2}]+\-?\d{2,3}\-?\d{3,4}\-?\d{4})", x))

In [37]:
[x for x in df.phone.values if x]

[['042-679-7228'],
 ['042-679-7660'],
 ['042-679-7228'],
 ['042-679-7660'],
 ['042-679-7660'],
 ['042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228'],
 ['042-679-7660'],
 ['042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228'],
 ['042-679-7228'],
 ['042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228'],
 ['042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228',
  '042-679-7228'],
 ['042-679-7660'],
 ['042-679-7228'],
 ['042-679-7228'],
 ['052-201-8060'],
 ['0312345678'],
 ['090-3482-2710', '090-2577-2648'],
 ['058-201-3838',
  '058-263-4853',
  '058-262-6784',
  '058-262-0104',
  '058-210-1555'],
 ['0312345678', '09012345678']]