In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud

In [17]:
df = pd.read_csv('/home/ifte-home/Documents/depression.csv')

In [13]:
df

    word      freq            bigram  bi_freq
0   want  136239.0         feel like    46317
1   like  133020.0  suicidal thought     6385
2   feel  120178.0       high school     6375
3   life  118699.0       even though     6303
4   year   74887.0       best friend     6301
..   ...       ...               ...      ...
95   NaN       NaN        make sense     1854
96   NaN       NaN    getting better     1841
97   NaN       NaN       much longer     1812
98   NaN       NaN         know much     1811
99   NaN       NaN       people care     1806

[100 rows x 4 columns]

In [18]:
def generate_word_cloud(frame, m):
    d = {}
    for a, x in frame.values:
        d[a] = x

    wordcloud = WordCloud(background_color="white", max_words=m)
    wordcloud.generate_from_frequencies(frequencies=d)
    plt.figure()
    plt.imshow(wordcloud, interpolation="bilinear")
    plt.axis("off")
    plt.show()

generate_word_cloud(df[['bigram', 'bi_freq']], 80)